@model ParapharmacieApp.Models.LigneCommande

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LigneCommande</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCommandeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCommandeNavigation.IdCommande)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProduitNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProduitNavigation.IdProduit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdLigneCommande">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
