@model ParapharmacieApp.Models.Produit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixAchat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixAchat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixVente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixVente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantiteStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantiteStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeuilAlerte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeuilAlerte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePeremption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePeremption)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProduit">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
