@model IEnumerable<ParapharmacieApp.Models.Produit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixAchat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixVente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantiteStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeuilAlerte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePeremption)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixAchat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixVente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantiteStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeuilAlerte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePeremption)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProduit">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProduit">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProduit">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
